<div class = "container" style="text-align:center">
  <h4 align="left"><a href= "https://www.ibm.com/watson/services/natural-language-understanding/ ">Watson Natural Language Understanding</a> returns Agile entities from a pretrained model in the text for deeper analysis.</h4>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div><br>


<div class="container">
<form [formGroup]='userFormGroup' (ngSubmit)='addDocument()'  novalidate >
  Id: <input id = "ex2" class= "form-control" [required] type="text" formControlName='_id' placeholder="Enter an ID for your Document"/>
  Document Title:  <input id = "ex2" [required] class= "form-control" type="text" formControlName='title' placeholder="Enter Document Title"/><br><br>
  Upload Document Text: <br>
  <textarea id = "ex1" class= "form-control" [required] formControlName='body'placeholder= "Paste in the document text"></textarea><br><br>
<button class = "btn btn-info">Add</button>&#160;</form> <br>
<button class = "btn btn-success" routerLink="/search">Search Documents</button></div>



<!-- <div type="container">
<table class = "table table-condensed ">
    <tr *ngFor= 'let d of documents'>
      <input type = "checkbox" >&#160;
       <td>{{d.id}}</td> 
      <a> <td>{{d.title}}</td></a>
      
       <td>{{d.text}}</td> 
  
    </tr>
  </table>
</div> -->